@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  --radix-connect-button-width: 10rem;
  --radix-connect-button-height: 2.5rem;
  --radix-connect-button-border-radius: 1rem;
}

#connect-btn .content {
  background-color: #fff;
}
